:host {
  display: block;
  height: 100%;
  width: 100%;
}

#ol-map {
  display: block;
  height: 100%;
  width: 100%;
}

#swipe {
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 100%;
  margin: 0;
}